$default: #8d8d8d;
$accent: #fe3e57;
$title: #29282d;

%quicksand-400{
  font-family:'Quicksand-Regular.woff', sans-serif;
  font-weight: 400;
}
%quicksand-500{
  font-family:'Quicksand-Medium.woff', sans-serif;
  font-weight: 500;
}

%roboto-400{
  font-family:'Roboto-Regular.woff', sans-serif;
  font-weight: 400;
}
%roboto-700{
  font-family:'Roboto-Bold.woff', sans-serif;
  font-weight: 700;
}
