@import "vars"; //переменные для цвета, шрифта и тд
@import "fonts"; //шрифты
@import "reset";
@import "global"; //глобальные стили reset.css, например
@import "libs";

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 35px;
  }

  &__list-link {
    padding-bottom: 5px;
    color: $title;
    position: relative;
    @extend %roboto-400;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      height: 1px;
      background-color: $accent;
      transition-property: left, right;
      transition-duration: 0.3s;
    }

    &:hover {
      color: $accent;
      text-shadow: 0 0 0.65px $accent, 0 0 0.65px $accent;
      transition-duration: 0.5s;
    }

    &:hover::before {
      left: -3px;
      right: -3px;
    }
  }

  &__list-link--active {
    color: $accent;
    @extend %roboto-700;

    &::before {
      left: -3px;
      right: -3px;
    }
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    margin-left: 25px;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    top: -9px;
    right: -13px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
  }
}

.top{
  &-container{
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 130px;
    text-align: center;
  }
}

.top-slider {
  background-image: url("../images/decor/top-slider-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $bg;
  padding: 65px 0 45px;

  &__container {
    max-width: 1560px;
  }

  &__content {
    padding-left: 175px;
    padding-top: 125px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    max-width: 670px;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    @extend %roboto-700;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }

  &__link {
    @extend %btn;
    padding: 14px 35px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    li {
      padding: 0 5px;

      button {
        padding: 0;
        font-size: 0;
        width: 27px;
        height: 27px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}

.categories-info {
  padding: 120px 0;
  background-image: url(../images/decor/categories-left-bg.png);
  background-repeat: no-repeat;
  background-position: center left;

  &__inner {
    background-image: url(../images/decor/categories-right-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 110px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
  }

  &::before {
    top: -40px;
    left: -45px;
    background-image: url(../images/decor/info-top-bg.svg);
    width: 120px;
    height: 121px;
  }

  &::after {
    right: -23px;
    bottom: -23px;
    background-image: url(../images/decor/info-bottom-bg.svg);
    width: 65px;
    height: 52px;

  }

  &__item {
    width: 370px;
    padding: 60px 30px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }

  &__item-title {
    margin: 35px 0 10px;
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
  }
}

.categories {
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &__item {
    padding-top: 35px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:nth-child(1) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #620fe5;
      }

      .categories__link:hover {
        border-bottom: 1px solid #620fe5;
      }

      grid-row: span 2;
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .categories__item-subtitle,
      .categories__link:hover {
        color: #fa556b;
      }

      .categories__link:hover {
        border-bottom: 1px solid #fa556b;
        width: 117px;
      }
    }

    &:nth-child(3) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #ffb534;
      }

      .categories__link:hover {
        border-bottom: 1px solid #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #4dc8fc;
      }

      .categories__link:hover {
        border-bottom: 1px solid #4dc8fc;
      }
    }
  }

  &__item-subtitle {
    margin-bottom: 5px;
  }

  &__item-title {
    font-size: 22px;
    color: $title;
    margin-bottom: 16px;
  }

  &__link {
    text-transform: uppercase;
    color: $title;
    @extend %roboto-400;
    transition: all 0.3s;
  }
}

.video-fashion {
  background-color: $bg;
  background-image: url(../images/decor/video-pattern.svg);
  background-size: cover;
  background-position: top center;
  padding: 125px 0;

  &__inner {
    display: flex;
  }

  &__popup {
    margin-right: 60px;
    max-width: 530px;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__content {
    max-width: 570px;
  }

  &__subtitle {
    padding-top: 25px;
    font-size: 22px;
    text-transform: uppercase;
    color: $accent;
    margin-bottom: 5px;
  }

  &__title {
    text-align: left;

  }

  &__text {
    margin-bottom: 55px;
  }

  &__link {
    @extend %btn
  }
}

.product {
  padding: 105px 0 120px;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }

  &__link {
    margin-top: 55px;
    text-transform: uppercase;
    color: $title;
    display: inline-block;
    border: 1px solid $accent;
    padding: 14px 27px;
  }
}

.product-item {
  max-width: 370px;

  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #fff;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    box-shadow: 0 5px 30px 0 rgba(152, 152, 152, 0.2);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: all 0.5s;
  }

  &__link--line::before,
  &__link--line::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #ececec;
    top: 10px;
  }

  &__link--line::before {
    left: 70px;
  }

  &__link--line::after {
    right: 70px;
  }

  &__link {
    display: inherit;

    path {
      transition: all 0.5s;
    }
  }

  &__link:hover {
    path {
      fill: $accent;
    }
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__title {
    color: $title;
    padding: 15px 0 20px;
  }

  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }

  &__new-price {
    padding: 0 12px;
    color: $title;
  }

  &__old-price {
    padding: 0 12px;
    text-decoration: line-through;
  }

  &--sale {
    .product-item__img-box::before {
      content: 'sale';
      @extend %btn;
      line-height: 1;
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }
}

.star {
  margin: 0 auto;
}

.promo {
  background-image: url(../images/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0 160px;
  text-align: center;

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
  }

  &__clock {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }

  &__clock-item {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 40px 0 rgba(187, 187, 187, 0.3);

    span {
      font-size: 48px;
      @extend %roboto-700;
      margin: 12px 0 7px;
      color: $title;
    }
  }

  &__link {
    text-transform: uppercase;
    border: 1px solid $accent;
    color: $title;
    display: inline-block;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.partners {
  padding-top: 75px;

  &__list {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.blog {
  padding: 50px 0 160px;
  background-image: url(../images/blog-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;

  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: -20px;
      top: -25px;
      width: 126px;
      height: 53px;
      background-image: url('../images/decor/blog-decor.svg');
      z-index: -1;
    }
  }
  &__item {
    max-width: 370px;
    border: 1px solid #ececec;
    transition: all 0.5s;
    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      border: none;
      .blog__item-link{
        color: $accent;
        svg {
          fill: $accent;
        }
      }
    }
  }

  &__item-imglink {
    display: block;
    img {
      height: 288px;
      object-fit: cover;
    }
  }

  &__item-box {
    padding: 30px 39px;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item-author,
  &__item-date {
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 4px;
    }
  }

  &__item-author::before {
    background-image: url(../images/icons/blog-user.svg);
  }

  &__item-date::before {
    background-image: url(../images/icons/blog-time.svg);
  }

  &__item-title {
    color: $title;
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 20px;
  }
  &__item-link{
    transition: all 0.5s;
  }
}

footer {
  background-color: $bg;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__logo {
    display: block;
    margin-bottom: 33px;
  }

  &__adress,
  &__phone,
  &__email {
    line-height: 36px;
    display: block;
  }

  &__social-list {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }

  &__social-item+&__social-item {
    margin-left: 18px;
  }

  &__social-link {
    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__contact {
    width: 250px;
    margin-right: 50px;
  }

  &__nav {
    width: 170px;
    margin-right: 30px;
  }

  &__item-form {
    max-width: 470px;
  }

  &__title {
    margin-bottom: 40px;
    color: $title;
    @extend %roboto-400;
    line-height: 100%;
    font-size: 22px;
  }

  &__link {
    line-height: 36px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form-input {
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }

  &__form-button {
    @extend %btn;
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__accept {
    display: flex;
    align-items: center;
  }

  &__accept-img {
    display: inline-block;
    margin-left: 25px;
  }
}

@import "media"; //медиа-запросы